In [38]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as lr
from sklearn.model_selection import train_test_split as tts

In [39]:
file='../50_Startups.csv'
data=pd.read_csv(file)
print(data.dtypes,'\n',data.shape)
data.head()

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object
 (50, 5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### Preprocessing

In [40]:
data.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [41]:
# one hot encoding the State columns
beta=pd.get_dummies(data['State'],drop_first=True)
data=pd.concat([data.drop('State',axis=1),beta],axis=1)
data.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

### splitting the data

In [42]:
inputs=data.drop('Profit',axis=1)
target=data['Profit']
x_train,x_test,y_train,y_test=tts(inputs,target,random_state=42,test_size=.2)

### Fitting the model

In [43]:
lr=lr().fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [44]:
y_pred

array([126362.87908255,  84608.45383634,  99677.49425147,  46357.46068582,
       128750.48288504,  50912.4174188 , 109741.35032702, 100643.24281647,
        97599.27574594, 113097.42524432])

In [58]:
print('  y_test','    ','y_pred')
np.set_printoptions(round(2))
print(np.concatenate((np.array(y_test).reshape(len(y_test),1),y_pred.reshape(len(y_pred),1)),1))

  y_test      y_pred
[[134307.35 126362.88]
 [ 81005.76  84608.45]
 [ 99937.59  99677.49]
 [ 64926.08  46357.46]
 [125370.37 128750.48]
 [ 35673.41  50912.42]
 [105733.54 109741.35]
 [107404.34 100643.24]
 [ 97427.84  97599.28]
 [122776.86 113097.43]]